<div id="about-the-artists">
<%= render partial: "title-line", locals: { title: "The Artists" } %>
</div>
<div class="text-center body-content">
  <h3>Check out the artist pages to see more of their cards</h3>
</div>
<br>

<!-- loop the artists name and url -->
<% @artists.reverse_each do |artist| %>
  <div class="body-button text-center">
    <%= link_to artist.name.to_s, artist_path(username: artist.username), class: "text-uppercase" %>
  </div>
<% end %>
<br>