<div id="about-the-artists"></div>
<%= render partial: "title-line", locals: { title: "The Artists" } %>
<div class="text-center body-content">
  <h3>Check out the artist pages to find more currently available cards</h3>
</div>
<br>

<!-- put in a loop with artist.url and artist.name model info -->

  <div class="body-button text-center">
    <a href="thoros.html">
      <span class="text-uppercase">Thoros of Myr</span>
    </a>
  </div>
  <div class="body-button text-center">
    <a href="marisol.html">
      <span class="text-uppercase">Marisol Vengas</span>
    </a>
  </div>
  <div class="body-button text-center">
    <a href="daniel.html">
      <span class="text-uppercase">Daniel Friedman</span>
    </a>
  </div>
  <div class="body-button text-center">
    <a href="robek.html">
      <span class="text-uppercase">Robek World</span>
    </a>
  </div>
  <div class="body-button text-center">
    <a href="cryptopop.html">
      <span class="text-uppercase">Cryptopop</span>
    </a>
  </div>
  <div class="body-button text-center">
    <a href="cryptograffiti.html">
      <span class="text-uppercase">Cryptograffiti</span>
    </a>
  </div>
  <!--
    <div class="body-button text-center">
      <a href="phneep.html"><span class="text-uppercase">Phneep</span></a>
    </div>
  -->
  <br>