<div id="about-the-artists">
<%= render partial: "title-line", locals: { title: "The Artists" } %>
</div>
<div class="text-center body-content">
  <h3>Check out the artist pages to see more of their cards</h3>
</div>
<br>

<!-- loop the artists name and url -->
<% @artists.reverse_each do |artist| %>
  <div class="body-button text-center">
    <%= link_to artist.name.to_s, artist_path(username: artist.username), class: "text-uppercase" %>
  </div>
<% end %>


<br>

  <div class="body-button text-center">
    <a href="marisol.html">
      <span class="text-uppercase">Marisol Vengas</span>
    </a>
  </div>
  <div class="body-button text-center">
    <a href="daniel.html">
      <span class="text-uppercase">Daniel Friedman</span>
    </a>
  </div>
  <div class="body-button text-center">
    <a href="robek.html">
      <span class="text-uppercase">Robek World</span>
    </a>
  </div>
  <div class="body-button text-center">
    <a href="cryptopop.html">
      <span class="text-uppercase">Cryptopop</span>
    </a>
  </div>
  <div class="body-button text-center">
    <a href="cryptograffiti.html">
      <span class="text-uppercase">Cryptograffiti</span>
    </a>
  </div>
  <!--
    <div class="body-button text-center">
      <a href="phneep.html"><span class="text-uppercase">Phneep</span></a>
    </div>
  -->
  <br>