<div class="page-container">
    <% cards.each do |card| %>
    <div class="flex-cardbox">
        <div class="flex-card_img">
            <%=link_to(image_tag(cardImage(card.id), class: "card-image", alt: "Curio Card #{card.id.to_s}"), card_path(id: card.id)) %>
        </div>
        <div class="flex-card_info">
            <div class="box">
                <%= card.card_name.to_s %>
            </div>
            <div class="amount-item">
                <img src="/img/price-tag.svg" alt="price">
                <span>Availability Info:</span>
                <p><%= "#{card.remaining_supply.to_s} / #{card.max_supply.to_s}" %></p>
                <p><%= "#{card.vend_price.to_s} ETH/card" %></p>
            </div>
        </div>
    </div>
    <% end %>
</div>