<section class="faq-section">
    <div class="text-uppercase title">
        <h2 class="title">Frequently Asked Questions</h>
    </div>
    <div id="accordion">
        <%= render layout: 'accordion-panel', locals: {
            q_id: "1",
            q_title: "Q: What is Curio Cards?"
            } do %>
            Curio Card's was an online art show for digital artists and collectors. It created a new form of digital artwork ownership, one without artist fees or restrictive platform DRM, using a distributed network called Ethereum.
            <br><br>
            Curio was the first Non-Fungible Token (NFT) marketplace for artists on mainnet Ethereum. With it you could own a rare and collectible piece of digital artwork.
            <br><br>
            The Curio art show ran in 2017 with 30 different artists. The original cards still work and are transferable. Curio helped influence later NFT standards (like ERC-721), but it also pre-dates and is not compatible with them. A large ecosystem of amazing NFT projects now exist around these new standards. We encourage you to check out the Crypto NFT community on Twitter as a starting point for learning more.
        <% end %>

        <%= render layout: 'accordion-panel', locals: {
            q_id: "2",
            q_title: "Q: How can I get cards?"
            } do %>
            We no longer support new card sales on this site following the closing of the Curio art show. With the creation of new standards like ERC-721, maintaining support for the modified ERC-20 Curio contract was not possible. Those cards already sold are now in the hands of individual owners. It will always be possible to trade for those cards with the people who currently own them.
        <% end %>

        <%= render layout: 'accordion-panel', locals: {
            q_id: "3",
            q_title: "Q: What wallets are supported?"
            } do %>
            Any Ethereum wallet that lets you control your own private keys can be used with Curio Cards. Keep in mind you won't be able to see or manage the cards unless you add the token contract addresses to the wallet. This process is different for every wallet. The original My Curio Wallet is no longer supported but does have all the contract addresses already added. Use at your own risk: <a href="https://mycuriowallet.com" target="_blank">MyCurioWallet</a>. 
            <br>
            <b>Don't</b> use ethereum wallets from exchanges for managing your cards. These wallets don't allow you control of the private keys and cannot manage unsupported tokens. If you send unsupported tokens they will be lost.
        <% end %>
    </div>
</section>