<section class="faq-section">
    <div class="text-uppercase title">
        <h2 class="title">Frequently Asked Questions</h>
    </div>
    <div id="accordion">
        <%= render layout: 'accordion-panel', locals: {
            q_id: "1",
            q_title: "Q: What are Curio Cards?"
            } do %>
            Curio Card's is an online art show for digital artists and collectors. It created a new form of digital artwork ownership, one without artist fees or restrictive platform DRM, using a distributed network called Ethereum.
            <br><br>
            Curio was the first Art Non-Fungible Token (NFT) on mainnet Ethereum. With it you could own a rare and collectible piece of digital artwork. You can learn more about Curio in our <a href="https://docs.curio.cards" target="_blank">Docs</a>
        <% end %>

        <%= render layout: 'accordion-panel', locals: {
            q_id: "2",
            q_title: "Q: How can I get cards?"
            } do %>
            Curio Cards are all sold out, but that doesn't mean you still can't collect them! Cards in the hands of individual owners often get relisted for sale or trade. Find out more about the places you can buy Curio Cards in our <a href="https://docs.curio.cards" target="_blank">Docs</a>
        <% end %>

        <%= render layout: 'accordion-panel', locals: {
            q_id: "3",
            q_title: "Q: What wallets are supported?"
            } do %>
            Any Ethereum wallet that lets you control your own private keys can be used with Curio Cards. Keep in mind you won't be able to see or manage the cards unless you add the token contract addresses to the wallet. This process is different for every wallet. Curio Cards recommends using MetaMask. Check out our <a href="https://docs.curio.cards" target="_blank">Docs</a> to learn how to use MetaMask with your cards. 
            <br>
            <b>Don't</b> use ethereum wallets from exchanges for managing your cards. These wallets don't allow you control of the private keys and cannot manage unsupported tokens. If you send unsupported tokens they will be lost.
        <% end %>
    </div>
</section>