<section class="faq-section">
    <div class="text-uppercase title">
        <h2 class="title">Frequently Asked Questions</h>
    </div>
    <div id="accordion">
        <%= render layout: 'accordion-panel', locals: {
            q_id: "1",
            q_title: "Q: What is Curio Cards?"
            } do %>
            Curio Card's was an online art show started with the mission to create a platform for artists and collectors that benefited the artists. Previously it had not been possible to sell digital artwork without massive fees, theft, or restrictive DRM.
            <br>
            <b>Curio was started to change that.</b>
            <br>
            <br> Curio was the first Non-Fungible Token (NFT) marketplace for artists on mainnet Ethereum. With it you could own a rare and collectible piece of digital artwork.
            <br>
            <br> The Curio art show ran in 2017 with 30 different artists. The cards bought then still work and are still transferable, however Curio pre-dates and is not compatible with the new wallet standards that have come out since. This new ecosystem of amazing NFT projects and standards is still a dynamic and changing field, which makes it hard to link to any particular project, but we encourage you to lookup the Crypto NFT community on twitter as a starting point for learning more.
        <% end %>

        <%= render layout: 'accordion-panel', locals: {
            q_id: "2",
            q_title: "Q: How can I get cards?"
            } do %>
            We no longer support new card sales on this site following the closing of the Curio art show. With the creation of new standards like ERC-721, maintaining support for the modified ERC-20 Curio contract was not possible. For cards that have already been sold, that supply is now in the hands of individual owners. It will always be possible to trade for those cards with the people who currently own them.
        <% end %>

        <%= render layout: 'accordion-panel', locals: {
            q_id: "3",
            q_title: "Q: What wallets are supported?"
            } do %>
            As long as it's an Ethereum wallet that lets you control your private keys you can store Curio Cards in it, but you won't be able to see or manage them unless you manually add the token contract address. This process is different for every wallet. The original Curio Wallet has all of these addresses already added, but be advised it is no longer supported or updated. You can find it here: <a href="https://mycuriowallet.com" target="_blank">MyCurioWallet</a>. 
            <br>
            <b>Don't</b> use ethereum wallets from exchanges for managing cards. Those wallets don't allow you control the private keys and cannot manage unsupported tokens.
        <% end %>
    </div>
</section>