<section class="footer-menu container">
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="footer_column social-media">
            <h3 class="title">Stay Connected</h3>
            <ul class="list-inline">
                <li class="list-inline-item icon">
                    <a href="https://discord.gg/uA6vnD3" target="_blank">
                        <!--i class="fa fa-discord icon-pink" aria-hidden="true"></i-->
                        <img src="/img/discord.svg" width="50px" class="icon-pink">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/MyCurioCards" target="_blank">
                        <img src="/img/twitter-pink.svg" width="50px" class="icon-pink">
                        <!--i class="fa fa-twitter icon-pink" aria-hidden="true"></i-->
                    </a>
                </li>
                <!--
                <li class="list-inline-item">
                    <a href="" target="_blank">
                    <i class="fa fa-reddit icon-pink" aria-hidden="true"></i>
                    </a>
                </li>
                -->
            </ul>
        </div>
        <div class="footer_column">

            <h3 class="title ease-in">Get Curio Cards</h3>
            <ul class="list-unstyled">
                <li>
                    <a href="#main-section">Collect Cards</a>
                </li>
                <li>
                    <a href="index.html#about-the-artist">The Artists</a>
                </li>
                <!--
                <li><a href="trade.html">Trade Curio Cards</a></li>
                <li><a href="#">Earn Curio Cards</a></li>
                -->
            </ul>
        </div>
        <div class="footer_column">

            <h3 class="title">About Curio Cards</h3>
            <ul class="list-unstyled">
                <li>
                    <a href="#how-to-buy">What are Curio Cards?</a>
                </li>
                <li>
                    <a href="#how-to-buy">FAQs</a>
                </li>
                <li>
                    <a href="https://discord.gg/uA6vnD3" target="_blank">Join Us on Discord</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<footer class="footer text-center">
    <img src="/img/logo-bottom.svg" alt="logo">
    <p>&copy; Copyright 2018 Curio Cards</p>
</footer>