<section class="body-format">

  <div class="px-2 px-sm-5">
    <div id="how-to-buy" class="how-to-buy">
      <div class="inner-heading">
        <div class="line-left">
          <div class="heading-horizontal-line"></div>
        </div>
        <div class="line-right">
          <div class="heading-horizontal-line"></div>
        </div>
        <h3 class="line-text text-uppercase text-center how-to-buy-title">How to buy</h3>
      </div>

      <div class="container steps-container">
        <div class="row">
          <div class="col-md-6 col-lg-4 px-4 px-lg-5 text-center">
            <div class="img-holder step-3">
              <img src="/img/step3.svg" alt="step 3">
            </div>
            <p class="text-center">
              <b>1.</b>
              <span>Create and use your
                <a href="https://mycuriowallet.com" target="_blank">CurioWallet</a> account to manage your cards.</span>
            </p>
          </div>
          <div class="col-md-6 col-lg-4 px-4 px-lg-5 text-center">
            <div class="img-holder step-1">
              <img src="/img/step1.svg" alt="step 1">
            </div>
            <p class="text-center">
              <b>2.</b>
              <span>Send ethereum from your
                <a href="https://mycuriowallet.com" target="_blank">CurioWallet</a> to the vending machine addresses.</span>
            </p>
          </div>
          <div class="col-md-6 col-lg-4 px-4 px-lg-5 text-center">
            <div class="img-holder step-2">
              <img src="/img/step2.svg" alt="step 2">
            </div>
            <p class="text-center">
              <b>3.</b>
              <span>View your new cards in the
                <a href="/gallery.html" target="_blank">Gallery</a> and your
                <a href="https://mycuriowallet.com" target="_blank">CurioWallet</a>.</span>
            </p>
          </div>
        </div>
      </div>
      <!--h4 class="text-center custom-text">
        <a href="trade.html">Check out the Curio Marketplace to trade your cards.</a>
      </h4-->
    </div>
</section>