<!-- Note: this is the index page version of the navbar-->

<nav id="navbar" class="page-navbar navbar navbar-inverse navbar-toggleable-md fixed-top px-sm-3">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/#"> <%# navbar-brand is a bootstrap class %>
    <%#= image_tag("/img/logo-top.svg", class: "logo-top", alt: "logo") %>
    <img class="logo-top" src="/img/logo-top.svg" alt="logo">
  </a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <%# 
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="https://example.curio.cards" target="_blank">
          Example
        </a>
      </li> 
      %>
      <li class="nav-item">
        <a class="nav-link text-uppercase" target="_blank" href="https://docs.curio.cards">Docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" target="_blank" href="https://governance.curio.cards">Governance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="/#about-the-artists">Artists</a>
      </li>
      <li class="nav-item bordered-item">
        <a class="nav-link text-uppercase" href="https://discord.gg/curiocards" target="_blank">Curio Discord</a>
      </li>
    </ul>
  </div>
</nav>