<!-- Note: this is the index page version of the navbar-->

<nav id="navbar" class="page-navbar navbar navbar-inverse navbar-toggleable-md fixed-top px-sm-3">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"> <%# navbar-brand is a bootstrap class %>
    <%#= image_tag("/img/logo-top.svg", class: "logo-top", alt: "logo") %>
    <img class="logo-top" src="img/logo-top.svg" alt="logo">
  </a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="https://vote.curio.cards" target="_blank">
          <b>Vote</b>
        </a>
      </li>
      <li class="nav-item bordered-item">
        <!--a class="nav-link text-uppercase" href="https://community.curio.cards" target="_blank">Community Site</a-->
        <a class="nav-link text-uppercase" href="https://discord.gg/uA6vnD3" target="_blank">Community Chat</a>
      </li>
      <li class="nav-item">
        <!--a class="nav-link text-uppercase" href="https://calendar.curio.cards" target="_blank">Calendar</a-->
        <a class="nav-link text-uppercase" href="https://www.meetup.com/San-Francisco-Crypto-Art-Meetup/" target="_blank">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="#main-section">Cards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="#about-the-artists">Artists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="#how-to-buy">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="trade.html">Trade</a>
      </li>
      <li class="nav-item bordered-item">
        <a class="nav-link text-uppercase" href="https://mycuriowallet.com" target="_blank">My Curio Wallet</a>
      </li>
    </ul>
  </div>
</nav>