<section class="title-line px-2 px-sm-5">
    <div class="heading">
        <div class="title-line-left-line">
            <div class="title-line-horizontal-line"></div>
        </div>
        <div class="title-line-right-line">
            <div class="title-line-horizontal-line"></div>
        </div>
        <h2 class="title-line-title text-uppercase text-center">
            <%=title.to_s%>
        </h2>
    </div>
</section>