<div class="container">
  <div class="row">
  <br><br>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <center>
        <h1>Curio Card Gallery</h1>
      </center>
    </div>
  </div>
  <div class="row">
  <br><br>
  </div>

  <div class="form-group row">
    <label for="ethAddress" class="col-4 col-form-label"><b>Enter your public ETH Address</b></label>
    <form onsubmit="return false;">
      <input type="text" size="40" name="ethAddress" id="ethAddress" placeholder="ETH Address: 0x3f8131..." >
    </form>
  </div>
  <div id="card-container" class="row">
  </div>
</div>

