<% title "Curio Cards" %>

<div id="cards-section"></div> <!-- ref for navbar cards button -->

<%= render partial: "title-line", locals: { title: "Featured Cards" } %>

<%= render partial: "cardwrapper", locals: { cards: @last } %>

<%= render partial: "artist-list" %>