/* Effects */

/* ease in */

.ease-in,
.page-navbar.navbar-inverse .navbar-nav .nav-link,
.down-arrow-circle,
.down-arrow-grey .fa,
.icon-white,
.icon-pink,
.cards-container .card-details .clipboard-text,
.get-curio-cards ul li a,
.about-curio-cards ul li a,
.body-format .how-to-buy a,
.body-format .how-to-buy .custom-text a,
.faq-section .panel .panel-title,
.mailing-container .email-button {
    -webkit-transition: opacity .1s ease-in;
    -o-transition: opacity .1s ease-in;
    transition: opacity .1s ease-in;
}

/* title with side lines */

.title-line {
    margin-top: 63px;
    margin-bottom: 10px;
}

.title-line .heading {
    position: relative;
    height: 60px;
    margin-bottom: 30px;
    overflow: hidden;
}

.title-line-left-line {
    float: left;
    width: 50%;
}

.title-line-left-line .title-line-horizontal-line {
    margin-right: 215px;
}

.title-line-title {
    float: left;
    width: 430px;
    background-color: #f0f0f0;
    padding-top: 15px;
    font-weight: 500;
    color: #f24645;
    font-size: 18px;
    letter-spacing: 6.2px;
    margin-left: -215px;
}

.title-line-right-line {
    width: 50%;
    float: right;
    margin-left: -215px;
}

.title-line-right-line .title-line-horizontal-line {
    margin-left: 215px;
}

.title-line-horizontal-line {
    width: 100%;
    height: 2px;
    background: #f24645;
    margin-top: 22px;
}

@media screen and (max-width: 767px) {
    .title-line-title {
        letter-spacing: 1px;
        width: 320px;
        margin-left: -160px;
        padding-top: 21px;
    }
    .title-line-horizontal-line {
        margin-top: 28px;
    }
    .title-line-left-line .title-line-horizontal-line {
        margin-right: 160px;
    }
    .title-line-right-line {
        margin-left: -160px;
    }
    .title-line-right-line .title-line-horizontal-line {
        margin-left: 160px;
    }
}

@media screen and (max-width: 400px) {
    .title-line-title {
        letter-spacing: 1px;
        width: 280px;
        margin-left: -140px;
        font-size: 17px;
    }
    .title-line-left-line .title-line-horizontal-line {
        margin-right: 140px;
    }
    .title-line-right-line {
        margin-left: -140px;
    }
    .title-line-right-line .title-line-horizontal-line {
        margin-left: 140px;
    }
}

@media screen and (max-width: 320px) {
    .title-line-title {
        width: 260px;
        margin-left: -130px;
        font-size: 16px;
    }
    .title-line-left-line .title-line-horizontal-line {
        margin-right: 130px;
    }
    .title-line-right-line {
        margin-left: -130px;
    }
    .title-line-right-line .title-line-horizontal-line {
        margin-left: 130px;
    }
}
