/* Effects */

/* ease in */

.ease-in,
.page-navbar.navbar-inverse .navbar-nav .nav-link,
.down-arrow-circle,
.down-arrow-grey .fa,
.icon-white,
.icon-pink,
.cards-container .card-details .clipboard-text,
.get-curio-cards ul li a,
.about-curio-cards ul li a,
.body-format .how-to-buy a,
.body-format .how-to-buy .custom-text a,
.faq-section .panel .panel-title,
.mailing-container .email-button {
    -webkit-transition: opacity .1s ease-in;
    -o-transition: opacity .1s ease-in;
    transition: opacity .1s ease-in;
}
