// Flex Container CSS - Start
.page-container {
  //background-color: Silver;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

// Artist Details
.flex-artist {
  background-color: white;
  box-shadow: 0 0 25px rgba(0,0,0,.1);
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px;
  max-width: 1200px;
}
.flex-artist.center {
  font-size: 20px;
  text-align:center;
}
.flex-artist.center iframe {
  display: block;
}

// Lookup Page
.flex-card_holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 25px rgba(0,0,0,.1);
  margin: 10px;
  width: 650px;
}
.flex-img_holder {
  width: 150px;
  height: 200px;
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}
.flex-img_holder img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.flex-details_holder {
  width: 460px;
  margin-left: 20px;
}
.flex-card-dummy {
  margin: 10px;
  width: 650px;
  height: 0px;
  //background-color: red;
}
// Flex Container CSS - End