/* Flex Container CSS - Start */
.page-container {
  //background-color: silver;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* 
Model for flexboxs: 
page-container
  flex-thingbox
    flex-thingbox .flex-thing_img
    flex-thingbox .flex-thing_info
*/

/* Card wrapper */
img.card_img {
  width: 288px;
  height: 384px;
}
.flex-cardbox {
  padding: 0px 15px;
}
.flex-card_img {
  width: 288px;
  height: 384px;
  position: relative;
}
.flex-cardbox .flex-card_info {
  background: #f24645; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #f24e49 , #ef7a64); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #f24e49, #ef7a64); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #f24e49, #ef7a64); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #f24e49 , #ef7a64); /* Standard syntax */
  color: #f0f0f0;
  padding: 30px 22px 0px 22px; //Top Right Bottom Left
  position: relative;
  top: -20px;
  z-index: -2;
  width: 288px;
  height: 170px;
  border-radius: 25px;
  margin: 0 auto;
}
.flex-cardbox .flex-card_info .box {
  border: 2px solid #f0f0f0;
  border-radius: 12px;
  height: auto;
  word-break: break-all;
  padding: 10px;
  font-family: "Lucida Console", "Courier New", Monaco, monospace;
  font-style: normal;
  font-weight: 100;
  font-size: 17px;
  line-height: 1em;
  text-align: center;
  margin-bottom: 20px;
}
.flex-cardbox .flex-card_info .amount-item span {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.2px;
  position: relative;
  top: -7px;
}
.flex-cardbox .flex-card_info .amount-item p {
  margin: 0;
  margin-left: 49px;
  line-height: 1.4em;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: .9px;
  margin-top: -12px;
  padding-bottom: 12px;
}
.flex-cardbox .flex-card_info .amount-item img {
  margin: 4px 7px 0 8px;
  display: inline-block;
  width: 30px;
}

/* Artist Details */
.flex-artistbox {
  background-color: white;
  box-shadow: 0 0 25px rgba(0,0,0,.1);
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px;
  max-width: 1200px;
  font-size: 20px;
  text-align:center;
}
.flex-artistbox iframe {
  display: block;
}

/* Single Card Page */
.flex-singlebox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 25px rgba(0,0,0,.1);
  margin: 10px;
  width: 840px;
  padding-top: 10px;
  z-index: 0; // sets white box's z so that card shadow in effects shows up
}
.flex-singlebox .flex-single_img {
  width: 320px;
  padding: 10px;
  position: relative;
}
.flex-singlebox .flex-single_info {
  max-width: 500px;
  padding: 10px;
}

/* Lookup Page */
.flex-lookbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 25px rgba(0,0,0,.1);
  margin: 10px;
  width: 650px;
}
.flex-lookbox .flex-look_img {
  width: 150px;
  height: 200px;
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}
.flex-lookbox .flex-look_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.flex-lookbox .flex-look_info {
  width: 460px;
  margin-left: 20px;
}
.flex-look_dummy {
  margin: 10px;
  width: 650px;
  height: 0px;
  //background-color: red;
}

/* Flex Container CSS - End */