// Body content CSS - Start
body {
  //box-sizing: border-box;
  color:#373737;
  background: #f2f2f2;
  //font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}