iframe {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  border: none;
}

.bordered-item {
  border: 2px solid #f0f0f0;
  border-radius: 18px;
  background-color: transparent;
  color: #f0f0f0;
  -webkit-transition: background-color .4s ease-out;
  -o-transition: background-color .4s ease-out;
  transition: background-color .4s ease-out;
  margin-top: -5px;
  padding: 3px 6px 0;
}

.bordered-item:hover {
  background-color: #f0f0f0;
}

.bordered-item:hover a {
  color: #f24645 !important;
}

.video-section {
  margin: 10px;
  padding: 15px;
}

.inner-heading .line-left {
  width: 50%;
  float: left;
}
.inner-heading .line-text {
  float: left;
  padding-top: 19px;
  font-weight: 400;
  letter-spacing: 7px;
  color: #f0f0f0;
  padding-left: 7px;
}
.inner-heading .line-right {
  width: 50%;
  float: right;
}
.inner-heading .heading-horizontal-line {
  height: 2px;
  background: #f0f0f0;
  margin-top: 27px;
}

.how-to-buy .inner-heading .how-to-buy-title {
  float: left;
  width: 186px;
  margin-left: -93px;
  font-size: 18px;
  letter-spacing: 5px;
}
.how-to-buy .inner-heading .line-left .heading-horizontal-line {
  margin-right: 93px;
}
.how-to-buy .inner-heading .line-right {
  margin-left: -93px;
}
.how-to-buy .inner-heading .line-right .heading-horizontal-line {
  margin-left: 93px;
}

.body-content h1 {
  color: #f24645;
  letter-spacing: 1px;
  margin-bottom: 10px;
  /* font-size: 20px; */
}

.body-content h3 {
  color: #f24645;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}

.icon-white {
  color: #f0f0f0;
}

.icon-pink {
  color: #f26060;
}

.icon-white:hover, .icon-pink:hover {
  opacity: .8;
}