iframe {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  border: none;
}

.bordered-item {
  border: 2px solid #f0f0f0;
  border-radius: 18px;
  background-color: transparent;
  color: #f0f0f0;
  -webkit-transition: background-color .4s ease-out;
  -o-transition: background-color .4s ease-out;
  transition: background-color .4s ease-out;
  margin-top: -5px;
  padding: 3px 6px 0;
}

.bordered-item:hover {
  background-color: #f0f0f0;
}

.bordered-item:hover a {
  color: #f24645 !important;
}

.down-arrow-circle .fa {
  color: #f0f0f0;
  border: 1px solid;
  border-radius: 100%;
  padding: 7px 11px 5px;
  cursor: pointer;
  font-size: 26px;
}

.down-arrow-circle:hover {
  opacity: .8;
}

.video-section {
  margin: 10px;
  padding: 15px;
}

.cards-wrapper {
  max-width: 950px;
  padding: 0 15px;
  margin: 0 auto;
}
.card-item {
  margin-bottom: 90px;
}
@media screen and (min-width: 1320px) {
  .card-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media screen and (max-width: 480px) {
  .card-item {
    margin-bottom: 70px;
  }
}
.card-image-holder {
  width: 288px;
  height: 384px;
  position: relative;
}
.card-image-holder:after {
  content:"";
  -webkit-transition: box-shadow .3s ease-in-out;
  -o-transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.8);
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.card-image-holder:hover::after {
  -webkit-box-shadow: 0 7px 20px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 7px 20px rgba(0,0,0,0.8);
  box-shadow: 0 7px 20px rgba(0,0,0,0.8);
}
.cards-container .card-image {
  width: 288px;
  height: 384px;
  display: block;
}
@media screen and (max-width: 1320px) {
  .cards-container .card-image,
  .card-image-holder {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .cards-container .card-image,
  .card-image-holder {
    width: 300px;
    height: 400px;
  }
}
@media screen and (max-width: 360px) {
  .cards-container .card-image,
  .card-image-holder {
    width: 280px;
    height: 373px;
  }
}

.down-arrow-grey {
  margin-top: 4px;
}

.down-arrow-grey .fa {
  color: #c7c7c7;
  cursor: pointer;
  font-size: 38px;
}

.down-arrow-grey .fa:hover {
  opacity: .8;
}

.cards-container .card-details {
  color: #f0f0f0;
  padding: 14px 22px;
  position: relative;
  width: 288px;
  height: 384px;
}
@media screen and (max-width: 1320px) {
  .cards-container .card-details {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .cards-container .card-details {
    width: 300px;
    height: 400px;
  }
}
@media screen and (max-width: 360px) {
  .cards-container .card-details {
    width: 280px;
    height: 373px;
  }
}

.charity-top-badge {
  background-image: url("../img/charity-ribbon.svg");
  background-size: 42px 70px;
  width: 42px;
  height: 70px;
  position: absolute;
  top: -10px;
  right: 12px;
}
.charity-bottom-badge {
  background-image: url("../img/charity-corner.svg");
  background-size: 94px 126px;
  width: 94px;
  height: 126px;
  position: absolute;
  bottom: -17px;
  right: -13px;
}

.cards-container .card-details:not(.sold-out) {
  background: #f24645; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #f24e49 , #ef7a64); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #f24e49, #ef7a64); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #f24e49, #ef7a64); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #f24e49 , #ef7a64); /* Standard syntax */
}

.cards-container .card-details.sold-out {
  background: #f44c4b; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #f44c4b , #fd6d6c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #f44c4b, #fd6d6c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #f44c4b, #fd6d6c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #f44c4b , #fd6d6c); /* Standard syntax */
}

.cards-container .card-details .item-label {
  margin: 5px 0;
}

.cards-container .card-details .item-label span {
  font-size: 16px;
}

.cards-container .card-details .item-label img {
  display: inline-block;
}

.cards-container .card-details .item-label img:not(.bigger-icon) {
  width: 30px;
  margin: 0 15px 0 10px;
}

.cards-container .card-details .item-label.amount-item img {
  margin: 4px 7px 0 8px;
}

.cards-container .item-label.vm-address-item {
  margin-top: -12px !important;
}

.cards-container .card-details .item-label.vm-address-item img {
  margin: -2px 8px 5px 8px;
}

.cards-container .card-details .item-label.amount-item span {
  position: relative;
  top: -7px;
}

.cards-container .card-details .item-label img.bigger-icon {
  width: 42px;
  margin: 2px 0 0 4px;
}

.cards-container .card-details .card-address, .cards-container .card-details .vm-address {
  border: 2px solid #f0f0f0;
  border-radius: 12px;
  height: auto;
  word-break: break-all;
  padding: 10px;
  font-family: "Lucida Console", "Courier New", Monaco, monospace;
  font-style: normal;
  font-weight: 100;
  font-size: 17px;
  line-height: 1em;
}

.cards-container .card-details .clipboard-text.hidden {
  visibility: hidden;
}

.cards-container .card-details .clipboard-text:hover {
  opacity: .8;
}

.cards-container .card-details .copied-info {
  color: #f24645;
  font-family: 'Rubik', sans-serif;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.cards-container .card-details .card-address:not(.copied),
.cards-container .card-details .vm-address:not(.copied) {
  background-color: transparent;
}

.cards-container .card-details .card-address.copied,
.cards-container .card-details .vm-address.copied {
  background-color: #f0f0f0;
  position: relative;
}

.cards-container .card-details .card-address,
.cards-container .card-details .vm-address {
  -webkit-transition: background-color .7s ease-in-out;
  -o-transition: background-color .7s ease-in-out;
  transition: background-color .7s ease-in-out;
}

.cards-container .card-details .card-address {
  margin-bottom: 20px;
}

.cards-container .card-details .vm-address {
  margin-bottom: 44px;
  margin-top: -4px !important;
}

.cards-container .card-details .item-label p {
  margin: 0;
  margin-left: 49px;
  line-height: 1.4em;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: .9px;
  margin-top: -12px;
  padding-bottom: 12px;
}

.cards-container .card-details .item-label.card-address-item span,
.cards-container .card-details .item-label.amount-item span,
.cards-container .card-details .item-label.vm-address-item span {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.cards-container .card-details .item-label.card-address-item span {
  position: relative;
  top: 6px;
}

.cards-container .card-details .sold-out-label {
  margin-top: 78px;
}

.cards-container .card-details .sold-out-label span {
  border: 5px solid #f0f0f0;
  font-size: 32px;
  font-weight: bold;
  padding: 0 10px;
}

@media screen and (max-width: 360px) {
  .cards-container .card-details .item-label {
    font-size: 16px;
  }
  .cards-container .card-details .item-label img.bigger-icon {
    width: 45px;
  }
  .cards-container .card-details .item-label.card-address-item span {
    top: 3px;
  }
  .cards-container .card-details .item-label p {
    font-size: 16px;
  }
  .cards-container .card-details .item-label img:not(.bigger-icon) {
    width: 32px;
  }
  .cards-container .card-details .card-address {
    margin-bottom: 16px !important;
  }
  .cards-container .card-details .card-address,
  .cards-container .card-details .vm-address {
    padding: 12px 10px;
    font-size: 17px !important;
  }
  .charity-bottom-badge {
    background-size: 86px 110px !important;
    width: 86px !important;
    height: 110px !important;
    bottom: -12px !important;
    right: -12px !important;
  }
  .charity-top-badge {
    background-size: 40px 70px !important;
    width: 40px !important;
    height: 70px !important;
    top: -12px !important;
    right: 13px !important;
  }
  .cards-container .card-details .sold-out-label {
    margin-top: 46px !important;
  }
  .cards-container .card-details .sold-out-label span {
    font-size: 32px;
  }
}

@media screen and (max-width: 480px) {
  .card-item {
    margin-bottom: 70px;
    padding: 0 !important;
  }
  .cards-container .card-details {
    padding: 6px 12px;
  }
  .cards-container .card-details .item-label img.bigger-icon {
    width: 50px;
  }
  .cards-container .card-details .item-label.card-address-item span,
  .cards-container .card-details .item-label.amount-item span,
  .cards-container .card-details .item-label.vm-address-item span {
    font-size: 18px;
  }
  .cards-container .card-details .card-address {
    margin-bottom: 20px;
  }
  .cards-container .card-details .card-address,
  .cards-container .card-details .vm-address {
    font-size: 18px;
  }
  .cards-container .card-details .item-label img:not(.bigger-icon) {
    width: 30px;
  }
  .cards-container .card-details .item-label p {
    margin-left: 49px;
    font-size: 16px;
  }
  .cards-container .card-details .vm-address {
    margin-bottom: 0;
  }
  .charity-bottom-badge {
    background-size: 96px 122px;
    width: 96px;
    height: 122px;
    bottom: -14px;
    right: -13px;
  }
  .charity-top-badge {
    background-size: 45px 79px;
    width: 45px;
    height: 79px;
    top: -14px;
    right: 16px;
  }
  .cards-container .card-details .sold-out-label {
    margin-top: 70px;
  }
}


.inner-heading .line-left {
  width: 50%;
  float: left;
}
.inner-heading .line-text {
  float: left;
  padding-top: 19px;
  font-weight: 400;
  letter-spacing: 7px;
  color: #f0f0f0;
  padding-left: 7px;
}
.inner-heading .line-right {
  width: 50%;
  float: right;
}
.inner-heading .heading-horizontal-line {
  height: 2px;
  background: #f0f0f0;
  margin-top: 27px;
}

.how-to-buy .inner-heading .how-to-buy-title {
  float: left;
  width: 186px;
  margin-left: -93px;
  font-size: 18px;
  letter-spacing: 5px;
}
.how-to-buy .inner-heading .line-left .heading-horizontal-line {
  margin-right: 93px;
}
.how-to-buy .inner-heading .line-right {
  margin-left: -93px;
}
.how-to-buy .inner-heading .line-right .heading-horizontal-line {
  margin-left: 93px;
}


.the-team .inner-heading .the-team-title {
  width: 168px;
  margin-left: -84px;
  font-size: 18px;
}
.the-team .inner-heading .line-left .heading-horizontal-line {
  margin-right: 84px;
}
.the-team .inner-heading .line-right {
  margin-left: -84px;
}
.the-team .inner-heading .line-right .heading-horizontal-line {
  margin-left: 84px;
}

.the-advisors-title {
  width: 232px;
  margin-left: -116px;
}
.the-advisors .inner-heading .line-left .heading-horizontal-line {
  margin-right: 116px;
}
.the-advisors .inner-heading .line-right {
  margin-left: -116px;
}
.the-advisors .inner-heading .line-right .heading-horizontal-line {
  margin-left: 116px;
}

.the-team {
  margin-top: 59px;
}

.the-team .team-container {
  margin-top: 6px;
  letter-spacing: 1.5px;
}

.the-team .team-container .teammate-company {
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 0;
}

.the-team .team-container .teammate-name {
  font-size: 17px;
}

.the-team .team-container .teammate-info {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

.the-team .team-container .social-media .list-inline-item .fa {
  font-size: 36px;
}

.the-advisors .inner-heading .the-advisors-title {
  font-size: 18px;
}

.footer p {
  color: #282828;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 100;
}

.footer img {
  max-width: 280px;
  margin: 50px 20px 56px;
}

@media (max-width: 480px) {
  .footer img {
    width: 80%;
  }
}



.body-content h1 {
  color: #f24645;
  letter-spacing: 1px;
  margin-bottom: 10px;
  /* font-size: 20px; */
}

.body-content h3 {
  color: #f24645;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}



.mailing-container .email-form-container input {
  border-color: #eca77e !important;
  height: 38px;
  border-radius: 22px;
  margin-right: 20px;
  width: 58%;
  padding-left: 18px;
}

.mailing-container .email-form-container input:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(236,167,126,.6);
}

.mailing-container .email-form-container input::-webkit-input-placeholder {
  color: #282828 !important;
  letter-spacing: 1px !important;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  font-size: 14px;
}

.mailing-container .email-form-container input:focus::-webkit-input-placeholder {
  color: #c7c7c7 !important;
  font-size: 14px;
}

.mailing-container .email-form-container input::-moz-placeholder {
  color: #282828 !important; /* Firefox 19+ */
  letter-spacing: 1px !important;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  font-size: 14px;
}

.mailing-container .email-form-container input:focus::-moz-placeholder {
  color: #c7c7c7 !important; /* Firefox 19+ */
}

.mailing-container .email-form-container input:-moz-placeholder {
  color: #282828 !important; /* Firefox 18- */
  letter-spacing: 1px !important;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
  font-size: 14px;
}

.mailing-container .email-form-container input:focus:-moz-placeholder {
  color: #c7c7c7 !important; /* Firefox 18- */
}

.mailing-container .email-form-container input:-ms-input-placeholder {
  color: #282828 !important;
  letter-spacing: 1px !important;
}

.mailing-container .email-form-container input:focus:-ms-input-placeholder {
  color: #c7c7c7 !important;
}

@media screen and (max-width: 480px) {
  .mailing-container .email-form-container input {
    width: 68%;
  }
}

.mailing-container img {
  height: 36px;
}

.mailing-container .email-button {
  border: 1px solid #f26060;
  background-color: #f26060;
  border-radius: 24px;
}

.mailing-container .email-button:hover {
  opacity: .8;
}

.mailing-container .social-media {
  margin-top: 22px;
}

.mailing-container {
  flex: .8 .8 auto;
}

.mailing-container .social-media .list-inline-item {
  margin-left: 10px;
  margin-right: 10px;
}

.mailing-container .social-media .list-inline-item:first-of-type {
  margin-left: 1px;
}

.mailing-container .social-media .list-inline-item:nth-of-type(3) {
  margin-left: 18px;
  margin-right: 15px;
}

.mailing-container .social-media .list-inline-item:nth-of-type(4) {
  margin-left: 9px;
}

.mailing-container .social-media .list-inline-item:last-of-type {
  margin-right: 0;
  margin-left: 8px;
}

.mailing-container .social-media .fa {
  font-size: 46px;
}

@media screen and (max-width: 400px) {
  .mailing-container .social-media .list-inline-item {
    margin-left: 5px;
    margin-right: 5px;
  }
  .mailing-container .social-media .list-inline-item:nth-of-type(3) {
    margin-left: 8px;
    margin-right: 8px;
  }
  .mailing-container .social-media .list-inline-item:nth-of-type(4) {
    margin-left: 5px;
  }
  .mailing-container .social-media .list-inline-item:last-of-type {
    margin-left: 4px;
  }
}

.mailing-container p {
  padding-right: 5px;
  letter-spacing: .5px;
  font-size: 12px;
}

.the-team .rounded-circle {
  border: 7px solid #ecb083;
  box-shadow: 0 0 0 3px #f0f0f0;
  margin-bottom: 20px;
  width: 185px;
  height: 185px;
}

.the-team .team-container .social-media .list-inline-item {
  padding: 0 2px;
}

.the-advisors {
  margin-top: 40px;
}

.the-advisors .advisors-container {
  margin-top: 32px;
  letter-spacing: 1.5px;
}

.the-advisors .advisors-container .rounded-circle {
    border: 6px solid #ecb083;
    box-shadow: 0 0 0 3px #f0f0f0;
    margin-bottom: 13px;
    width: 135px;
    height: 135px;
}

.the-advisors .advisors-container .advisor-name {
  font-size: 16px;
  margin-bottom: 5px;
}

.the-advisors .advisors-container .advisor-company {
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 0;
}

.the-advisors .advisors-container .advisor-info {
  font-size: 12px;
  font-weight: 100;
  line-height: 1.4em;
  margin-bottom: 10px;
  margin-top: 10px;
}

.the-advisors .social-media.list-inline .fa {
  font-size: 24px;
}

.the-advisors .advisors-container .social-media .list-inline-item {
  padding: 0;
}

.the-team .team-container [class*="col-"]:not(:last-of-type),
.the-advisors .advisors-container [class*="col-"]:not(:last-of-type) {
  margin-bottom: 40px;
}




.icon-white {
  color: #f0f0f0;
}

.icon-pink {
  color: #f26060;
}

.icon-white:hover, .icon-pink:hover {
  opacity: .8;
}


